name: Node CI

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test

      - name: Build application
        run: |
          mkdir dist
          echo "Build créé automatiquement" > dist/output.txt

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
            with:
               name: build-files
               path: dist/

